<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台首页</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div class="homeHeader">
    <div class="header"><!-- <span class="title">首页</span> --><a href="javascript:location.reload();" class="reload">刷新</a></div>
</div>
<div class="homeCont">
    <div class="leftArea">
        <div class="site">
            <h2 class="title">系统</h2>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50%" height="33">服务器版本： <span title="Apache/2.4.10 (Win32) OpenSSL/0.9.8zb mod_fcgid/2.3.9">{$_SERVER['SERVER_SOFTWARE']|ReStrLen=7}</span></td>
                    <td width="50%">操作系统：  {$Think.const.PHP_OS}</td>
                </tr>
                <tr>
                    <td height="33">PHP版本号： {$Think.const.PHP_VERSION}</td>
                    <td>GDLibrary： <if condition="$serve['is_imageline'] eq 1"> <span class="ture">支持</span><else /><span class="flase">不支持</span></if></td>
                </tr>
                <tr>
                    <td height="33">MySql版本： {$serve['mysqlver']}</td>
                    <td height="28">ZEND支持： <if condition="($serve['is_zend'] eq 1)"> <span class="ture">支持</span><else /><span class="flase">不支持</span></if></td>
                </tr>
                <tr class="nb">
                    <td height="33" colspan="2">支持上传的最大文件：{$serve['upload_max']}</td>
                </tr>
            </table>
        </div>
    </div>
 <div class="rightArea">
   <div class="homeEvent">
       <h2 class="title">日志<span><a href="{:U('Adminlog/index')}">更多&gt;&gt;</a></span></h2>
            <ul>
            <foreach name='adminlog' item='v'>
               <li>{:date('m-d H:i', $v['posttime'])}：用户 <strong>{$v.uname}</strong> 
               <if condition="($v.model eq 'Login') && ($v.action eq 'login')">
               进行了 <span class="blue">登录操作</span> 
                <elseif condition="($v.model eq 'Index') && ($v.action eq 'logout')" />
                进行了 <span class="blue">退出操作</span> 
                <else />
                操作了 <span class="blue">{$v.model}</span>
                </if>
               </li> 
            </foreach>
               </ul>
   </div>
<!--     <div class="count">
    <h2 class="title">统计</h2>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="80" height="33">网站栏目数：</td>
            <td class="num">13</td>
        </tr>
        <tr>
            <td height="33">单页信息数：</td>
            <td class="num">5</td>
        </tr>
        <tr>
            <td height="33">列表信息数：</td>
            <td class="num">19</td>
        </tr>
        <tr>
            <td height="33">图片信息数：</td>
            <td class="num">15</td>
        </tr>
        <tr class="nb">
            <td height="33">注册会员数：</td>
            <td class="num">1</td>
        </tr>
    </table>
</div> -->
</div>
    <div class="cl"></div>
</div>

</body>
</html>