<!--This is IE DTD patch , Don't delete this line.-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.3)" />
<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.3)" />
<title>我的网站 - 管理中心</title>
<link href="__PUBLIC__/style/frame.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/func.js"></script>
</head>
<body>
<div class="header">
    <div class="user">
        <span class="name">Hi, {$adminname}</span>&nbsp;&nbsp;&nbsp;<strong>本次登录:</strong>{$logintime}&nbsp;&nbsp;<strong>上次登录:</strong>{$admin['lastlogintime']} &nbsp;&nbsp; IP：{$logintime}  &nbsp;&nbsp;  
        <a href="{:U('Admin/adminUpdate', array('id'=>$admin['id']))}" class="edit" target="main">修改密码</a>&nbsp;&nbsp;
        <a href="{:U(MODULE_NAME.'/Index/logout')}" class="logout">退出(ESC)</a>  
    </div>
    <div class="fun">
        <div class="siteList">
                </div>
        <a href="../../" class="homeLink" title="首页" target="_blank">前台首页</a>
        <a href="{:U('Index/home')}" class="homeLink" title="后台首页" target="main">后台首页</a>
        <a class="homeLink" title="当前时间" id="showtimes">
           <script language="javascript">show_cur_times();</script>
        </a>          
    </div>
</div>
<div class="left">
    <div class="menu">
        <iframe name="menu" id="menu" frameborder="0" src="{:U('Index/leftMenu')}" scrolling="no"></iframe>
    </div>
</div>
<div class="right">
    <div class="main">
        <iframe name="main" id="main" frameborder="0" src="{:U('Index/home')}" ></iframe>
    </div>
</div>

</body>
</html>
