<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>小客CMS--登陆</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" />
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/login.js"></script>
<script type="text/javascript">
    VerifyURL = "{:U(MODULE_NAME.'/Login/verify', '', '')}";
</script>
</head>

<body class="loginBody">
<div class="loginWarp">
    <div class="loginArea">
        <div class="loginHead"> </div>
        <div class="loginTxt">登录管理中心</div>
        <div class="loginForm">
            <form name="login" method="post" action="{:U(MODULE_NAME.'/Login/login')}" onSubmit="return CheckForm()">
                <div class="txtLine">
                    <label>用户名</label>
                    <input type="text" name="username" id="username" class="uname input" maxlength="20" />
                </div>
                <div class="txtLine mar8">
                    <label>密码</label>
                    <input type="password" name="password" id="password" class="pwd input" maxlength="16" />
                </div>
                <div class="txtverify txtLine mar8">
                    <label></label>
                    <input type="text" name="code" id="code" class="verify input" maxlength="4" placeholder="验证码" /> <img src="{:U(MODULE_NAME.'/Login/verify', '', '')}" id="verifyImg" alt="验证码" title="点击刷新验证码" onclick="changeVerify(this)" />
                    <input type="submit" class="loginBtn" value="登 陆" style="cursor:pointer;" />
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
