
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改管理组</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/checkf.func.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/forms.func.js"></script>
</head>
<body>
<div class="formHeader"> <span class="title">修改管理组</span> <a href="javascript:location.reload();" class="reload">刷新</a> </div>
<form name="form" id="form" method="post" action="{:U('adminGroupUpdateSave')}" onsubmit="return cfm_admingroup();">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formTable">
        <tr>
            <td width="25%" height="40" align="right">管理组名称：</td>
            <td width="75%"><input type="text" name="groupname" id="groupname" class="input" value="{$value.groupname}" />
                <span class="maroon">*</span><span class="cnote">带<span class="maroon">*</span>号表示为必填项</span></td>
        </tr>
        <tr>
            <td height="118" align="right">管理组描述：</td>
            <td><textarea name="description" id="description" class="textarea">{$value.description}</textarea></td>
        </tr>
        <tr>
            <td height="40" align="right">管理组状态：</td>
            <td><input type="radio" name="checkinfo" value="true" <if condition="$value['checkinfo'] eq 'true'">checked="checked"</if> />
                启用&nbsp;
                <input type="radio" name="checkinfo" value="false" <if condition="$value['checkinfo'] eq 'false'">checked="checked"</if> />
                未启用</td>
        </tr>
        <if condition="$value['id'] neq 1">
         <tr>
            <td height="35" align="right">模块权限：</td>
            <td><div class="purviewTitle"><strong>模块权限管理</strong></div>
                <div class="purviewList">
                    <foreach name="authlist" item="v"> 
                        <span><input type="checkbox" name="model[]" value="{$v.model}" <if condition="in_array($v['model'], $adminModel)">checked="checked"</if> />
                        {$v.description}</span>
                    </foreach>
                </div>
               
                <div class="purviewSel"><a href="javascript:;" onclick="SelModel(true)">全选</a>&nbsp;&nbsp;<a href="javascript:;" onclick="SelModel(false)">反选</a></div></td>
        </tr>
        </if>
    </table>
    <div class="formSubBtn">
        <input type="submit" class="submit" value="提交" />
        <input type="button" class="back" value="返回" onclick="history.go(-1);" />
        <input type="hidden" name="id" id="action" value="{$value.id}" />
    </div>
</form>
</body>
</html>