<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员管理</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/forms.func.js"></script>
</head>
<body>
<div class="topToolbar"> <span class="title">管理员列表</span> <span class="rec title"><a href="{:U('adminRecycle')}">回收站</a></span> <a href="javascript:location.reload();" class="reload">刷新</a></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
    <tr align="left" class="head">
        <td width="5%" height="36" class="firstCol">ID</td>
        <td width="25%">用户名</td>
        <td width="20%">管理员组</td>    
        <td width="20%">登录时间</td>
        <td width="15%">登录IP</td>
        <td width="15%" class="endCol">操作</td>
    <foreach name="list" item="v">
        </tr>
            <tr align="left" class="dataTr">
            <td height="36" class="firstCol">{$v.id}</td>
            <td>{$v.username}</td>
            <td>{$v.groupname}</td>  
            <td class="number">{$v.logintime|date="Y-m-d H:i:s",###}</td>
            <td>{$v.loginip}</td>
            <td class="action endCol">
                <span><a href="{:U('adminUpdate', array('id'=>$v['id']))}">修改</a></span> | 
                <if condition="$v['id'] eq 1"><span class="nb">删除</span><else /><span class="nb"><a href="{:U('adminDelstate', array('id'=>$v['id']))}" onclick="return ConfDel(0);">删除</a></span></if></td>
        </tr>
    </foreach>
    </table>
<div class="bottomToolbar"> <a href="{:U('adminAdd')}" class="dataBtn">添加管理员</a> </div>
<div class="page"> <div class="pageList">{$page}</div> </div>
</body>
</html>