<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加模块</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/checkf.func.js"></script>
</head>
<body>
<div class="formHeader"> <span class="title">添加模块</span> <a href="javascript:location.reload();" class="reload">刷新</a> </div>
<form name="form" id="form" method="post" onsubmit="return cfm_authlist();">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formTable">
        <tr>
            <td width="25%" height="40" align="right">模块名：</td>
            <td width="75%"><input type="text" name="model" class="input" id="model" />
                <span class="maroon">*</span><span class="cnote">带<span class="maroon">*</span>号表示为必填项</span></td>
        </tr>
        <tr>
            <td height="40" align="right">模块说明：</td>
            <td><input type="text" name="description" class="input" id="description" />
                <span class="maroon">*</span></td>
        </tr>

    </table>
    <div class="formSubBtn">
        <input type="submit" class="submit" value="提交" />
        <input type="button" class="back" value="返回" onclick="history.go(-1);" />
    </div>
</form>
</body>
</html>