<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>操作日志</title>
<link href="__PUBLIC__/style/admin.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Plugin/calendar/calendar-blue.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/forms.func.js"></script>
<script type="text/javascript" src="__ROOT__/Plugin/calendar/calendar.js"></script>
</head>
<body>
<div class="topToolbar"> <span class="title">操作日志</span> <a href="javascript:location.reload();" class="reload">刷新</a></div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
	<tr align="left" class="head">
		<td height="36" colspan="2">&nbsp;技巧提示</td>
	</tr>
	<tr align="left">
		<td height="110" colspan="2"><ul class="tipsList">
				<li>只允许超级管理员查看操作日志</li>
				<li>模块一分钟内多次操作只记录一次</li>
				<li class="nt">
					<form name="form" id="form" method="" action="" style="display:inline;">
						搜索用户：
						<input type="text" name="uname" id="uname" class="selSysUname" value="{$Think.get.uname}" />
						&nbsp;&nbsp;
						操作时间：
						<input type="text" name="starttime" id="starttime" class="inputms" value="{:date('Y-m-d H:i:s', time()-30*24*3600)}" readonly="readonly" />
						~
						<input type="text" name="endtime" id="endtime" class="inputms" value="{:date('Y-m-d H:i:s')}" readonly="readonly" />
						<script type="text/javascript">
						Calendar.setup({
							inputField     :    "starttime",
							ifFormat       :    "%Y-%m-%d %H:%M:%S",
							showsTime      :    true,
							position       :    [263, 200],
							timeFormat     :    "24"
						});
						
						Calendar.setup({
							inputField     :    "endtime",
							ifFormat       :    "%Y-%m-%d %H:%M:%S",
							showsTime      :    true,
							position       :    [431, 200],
							timeFormat     :    "24"
						});
						</script> 
						&nbsp;&nbsp;
						<input type="submit" class="selSysEventBtn" value="查询" />
						&nbsp;&nbsp;
						<input type="button" onclick="location.href='{:U("index")}'" class="selSysEventBtn" value="全部" />
					</form>
				</li>
			</ul></td>
	</tr>
	<foreach name='logList' item='v'>
	<tr class="dataTr">
		<td height="36"><span class="padl10"> <span class="number">{:date('Y-m-d H:i:s', $v['posttime'])}</span>：</span>用户 <strong>{$v.uname}</strong>
		<if condition="($v.model eq 'Login') AND ($v.action eq 'login')">
		进行了 <span class="blue">登录操作</span>
		<elseif condition="($v.model eq 'Index') AND ($v.action eq 'logout')" />
		 进行了 <span class="blue">退出操作</span>
		 <else />
		 操作了 <span class="blue">{$v.model}</span>
		</if>
		 </td>
		<td width="120">记录IP：{$v.ip}</td>
	</tr>
	</foreach>	
	</table>
<div class="page"> <div class="pageList">{$page}</div> </div>
</body>
</html>